### Contents

Import data

Check import output

Merge df_ords_prior with df_ords

Export data

### Import data

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# import dataframes
path = r'/Users/kaitlinkendrick/Documents/Data Analysis/Instacart Basket Analysis'

In [3]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col=False)

In [4]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products_prior.csv'), index_col=False)

### Check import output

In [5]:
# check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
df_ords_prior.shape

(32434489, 4)

In [7]:
df_ords.shape

(3421083, 9)

### Merge df_ords_prior with df_ords

In [8]:
# merge df_ords_prior w/ df_ords
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator=True)

In [9]:
# Check output
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_previous_order,t/f_days_since_previous_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,False,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,False,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,False,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,False,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,False,26405,5,0,both

In [10]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [11]:
df_merged_large.shape

(32434489, 13)

### Export data

In [12]:
# export as .pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))